<ActionBar>
    <Label text="Welcome to App"></Label>
</ActionBar>
<StackLayout #container>
    <Image src="res://icon" horizontalAlignment="center"></Image>
    <TextField
        id="username"
        [(ngModel)]="username"
        hint="E-mail Address"
        secure="false"
        keyboardType="email"
        returnKeyType="done"
        (returnPress)="onReturnPress($event)"
        autocorrect="false"
        (focus)="onFocus($event)"
        (blur)="onBlur($event)">
    </TextField>
    <TextField
        id="password"
        [(ngModel)]="password"
        hint="Password"
        secure="true"
        returnKeyType="done"
        (returnPress)="onReturnPress($event)"
        autocorrect="false"
        (focus)="onFocus($event)"
        (blur)="onBlur($event)">
    </TextField>
    <Button  text= "Sign-in" class="-primary login-button" (tap)="submit()"></Button>
</StackLayout>
