<ActionBar>
    <Label text="Login Page"></Label>
</ActionBar>
<StackLayout>
    <TextField hint="E-mail Address"
           secure="false"
           keyboardType="email"
           returnKeyType="done"
           (returnPress)="onReturnPress($event)"
           autocorrect="false"
           (focus)="onFocus($event)"
           (blur)="onBlur($event)">
    </TextField>
    <TextField hint="Password"
        secure="true"
        returnKeyType="done"
        (returnPress)="onReturnPress($event)"
        autocorrect="false"
        (focus)="onFocus($event)"
        (blur)="onBlur($event)">
    </TextField>
    <Button text="Sign-in" class="-primary -rounded-lg" (tap)="onTap($event)"></Button>
</StackLayout>
