StackLayout{
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
    background-color: white;
}

ActionBar{
    background-color: green;
}
Image{
    margin-top: 5;
    margin-bottom: 20;
    width:100;
    height:100;
}
Button, TextField
{
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
    margin-top: 15;
}
.login-button{
    background-color: green;
    color: white;
    margin-top: 0;
}
